<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primera pagina</title>
    <link rel="stylesheet" href="../../styles/codigos/estilo.css" >
</head>
<body style="background-color: yellow">
<h1 style="color:blueviolet ">"Esta es mi primera pagina, no mentira pero hace tiempo no hacia una."</h1>

<p>Y esto es un parafo que esta por aqui.</p>

<h3>I will try to put my codes in this webpage,</h3>

<ul> the list of codes
<li>
    1)
    2)
    3)
</li>
    <li>
        1)
        2)
        3)

    </li>
</ul>
</body>
</html>
